.env
CREDENTIALS.md
frontend/node_modules/
documentation/node_modules/
documentation/dist/

# Go Backend local binaries and logs
backend/backend.log
backend/backend_bin
backend/saas-superadmin-backend

# IDE configs
.idea/
